alias g='git'
alias ag='rg'
alias j='z'
alias logout='sudo pkill -u tippenein'
alias psg='ps aux | grep'
alias apti='sudo apt-get install'
alias aptrm='sudo apt-get purge'
alias aptup='sudo apt-get update'
alias e='emacs -q -nw'
alias sex='stack exec'
alias sb='stack build --fast'
alias st='stack test --fast'
alias sbw='stack build --fast --file-watch'
alias stw='stack test --fast --file-watch'
alias sshirc='ssh tippenein@deltadrome.us -t tmux attach-session -t irc'
alias sshdelta='ssh tippenein@deltadrome.us'
alias sshjob='ssh tippenein@deltadrome.us -t screen -r job'
alias tls='tmux list-sessions'
alias ta='tmux attach -t '
alias tkill='tmux kill-session -t '
alias nb='nix-build'
alias start-redis='sudo launchctl start io.redis.redis-server'
alias ne='nix-env'
alias nu='nix-channel --update nixpkgs'
alias rex='xmonad --recompile && xmonad --restart'
alias ls='ls --color=auto'
alias l="ls  --color=auto -la"
alias grep='grep -i --color=auto'
alias mv='mv --interactive --verbose'
alias empty-trash='gvfs-trash --empty'
alias cp='cp --verbose'
alias rn='react-native'
alias pbcopy='xsel --clipboard --input'
alias pbpaste='xsel --clipboard --output'
alias restart='sudo shutdown -r now'
alias shutit='sudo shutdown now'
alias e='emacs -nw'
alias battery='upower -i /org/freedesktop/UPower/devices/battery_BAT0| grep -E "percent"'
