/**/dist
/**/dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
xmonad-session-rc
xmonad-x86*
xmonad.state
xmonad.errors
zero-one-three-stuff/xmonad-build
