# This file should be copied to /usr/share/xessions/xmonad.desktop
# It assumes that anyone logging in to xmonad should have an
# ~/.config/xmonad directory with a start-xmonad script in it.
[Desktop Entry]
Encoding=UTF-8
Name=XMonada
Comment=Lightweight tiling window manager
Exec=.config/xmonad/start-xmonad
Icon=custom_xmonad_badge.png
Type=XSession
